AuthName "Member's Area Name"
AuthUserFile "C:/Users/hipek/Documents/school/.htpasswd"
AuthType Basic
Require valid-user
<RequireAny>
    Require valid-user
    Require ip 127.0.0.1
    Require ip 69.46.36.28
</RequireAny>

ErrorDocument 401 /401.html