* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
  position: relative;
}
.container {
  width: 100%;
  background-image: linear-gradient(
    60deg,
    rgba(255, 0, 106, 0.445),
    rgba(255, 0, 106, 0.712)
  );
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
.card {
  margin-top: 3rem;
  max-width: 40rem;
  width: 100%;
  position: relative;
}
.back {
  position: absolute;
  top: 0;
  left: 1rem;
  font-size: 5rem;
  background: transparent;
  color: #495d85;
  opacity: 0.6;
  z-index: 101;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.back::before {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  position: absolute;
  content: "";
  width: 3.1rem;
  height: 3.1rem;
  background: #fff;
}
.back:hover {
  background: #3b4c6e;
  opacity: 1;
}
.card-bio {
  background-image: linear-gradient(
    60deg,
    rgba(255, 0, 106, 0.445),
    rgba(255, 0, 106, 0.712)
  );
  background: rgba(137, 43, 226, 0.623);
  padding: 3rem 3rem 8rem 3rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  border-radius: 0.5rem 0.5rem 0 0;
  position: relative;
  z-index: 100;
}
.img-wrapper {
  width: 9rem;
  height: 9rem;
  margin-right: 3rem;
}
.img-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
}
.person-info {
  width: 100%;
  margin-top: 2rem;
  font-family: "Dosis", serif;
  color: #fff;
  text-shadow: 0.1rem 0.2rem rgba(0, 0, 0, 0.3);
}
.person-info h3 {
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  /* margin-bottom: 1rem; */
  left: 39%;
  top: 10%;
  position: absolute;
}
.person-info p {
  font-size: 1.8rem;
  width: 100%;
  max-width: 100rem;
  height: 100%;
  min-height: 30rem;
  margin: 0 auto;
  line-height: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.person-info span {
  color: rgb(44, 18, 116);
  font-weight: bold;
  text-shadow: 0.1rem 0.2rem rgba(255, 255, 255, 0.2);
  font-style: italic;
  font-size: 2.5rem;
}
.contact-details textarea {
  max-width: 40rem;
  width: 100%;
  height: 2rem;
  border: none;
  outline: none;
  background: rgba(255, 255, 0, 0.698);
  line-height: 2rem;
  font-family: "Dosis", serif;
  font-size: 1.2em;
  font-weight: 600;
  box-shadow: 0.05rem 0.05rem 0.05rem rgba(136, 119, 255, 0.19);
  color: rgb(70, 68, 68);
  resize: none;
  margin-top: 0.05rem;
  /* margin-left: -4rem; */
  padding: 0 0.5rem;
  text-align: left;
}
.card-btn {
  position: absolute;
  bottom: -2.5rem;
  right: 10rem;
  width: 20rem;
  height: 6rem;
  background: #495d85;
  color: #fff;
  border-radius: 5rem;
  border: none;
  font-family: "Dosis", serif;
  font-size: 2.4rem;
  text-transform: capitalize;
  box-shadow: 0 0.3rem 0.8rem rgba(0, 0, 0, 0.3);
  outline: none;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.card-btn:hover {
  background: #3b4c6e;
}
.change .card-btn {
  width: 6rem;
  right: 3rem;
  bottom: -3rem;
  border-radius: 50%;
}
.card-btn-contact {
  -webkit-transition: all 0.5s 0.1s;
  transition: all 0.5s 0.1s;
}
.card-btn-contact,
.card-btn i {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.change .card-btn-contact {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
.card-btn i {
  opacity: 0;
  visibility: hidden;
}
.change .card-btn i,
.change .back i {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.card-contact {
  background: #542d81;
  color: #fff;
  padding: 1.5rem 2rem;
  border-radius: 0 0 0.5rem 0.5rem;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.change .card-contact {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.card-contact h4 {
  font-family: "Dosis", serif;
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  text-shadow: 0.1rem 0.2rem rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: left;
  transform-origin: left;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.change .card-contact h4 {
  -webkit-transform: scale(1);
  transform: scale(1);
}
.card-social {
  background: #fff;
  padding: 1.5rem;
  margin: 2rem 0;
  border-radius: 0.3rem;
  display: -webkit-box;
  display: flex;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 0;
  visibility: hidden;
  width: 100%;
  max-width: 50rem;
}
.email {
  -webkit-transition: all 0.5s 0.3s;
  transition: all 0.5s 0.3s;
}
.fb {
  -webkit-transition: all 0.5s 0.5s;
  transition: all 0.5s 0.5s;
}
.linkedin {
  -webkit-transition: all 0.5s 0.7s;
  transition: all 0.5s 0.7s;
}
.change .card-social {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
.null {
  visibility: hidden;
}
.icon-wrapper {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  /* margin-right: 2rem; */
  padding: 1rem;
  position: relative;
}
.email .icon-wrapper {
  background: #dd4b39;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}
.fb .icon-wrapper {
  background: #3b5998;
  position: absolute;
  top: 0;
  left: 0;
}
.linkedin .icon-wrapper {
  background: #007bb6;
  position: absolute;
  top: 0;
  left: 0;
}
.icon-wrapper i {
  font-size: 2rem;
  color: #fff;
}
.contact-details h4 {
  font-family: "Dosis", serif;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  margin-bottom: 0.5rem;
  /* text-indent: -1.6rem; */
  margin-left: 4rem;
}
.email h4 {
  color: #dd4b39;
}
.fb h4 {
  color: #3b5998;
}
.linkedin h4 {
  color: #007bb6;
}
.contact-details p {
  font-family: "Dosis", serif;
  font-size: 1.4rem;
  color: #444;
  letter-spacing: 0.1rem;
}
.card-social span {
  margin-left: 0.5rem;
  font-size: 2rem;
  font-weight: bold;
  color: #999;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border: none;
  outline: none;
  background: transparent;
}
.card-social:hover span {
  color: rgb(77, 74, 74);
}
[class*="box"] {
  top: 0.5rem;
  left: 49%;
  margin-left: 15rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: absolute;
  font-size: 1.8rem;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  font-family: "Dosis", serif;
  color: green;
  font-weight: 700;
  line-height: 1.7rem;
  width: 100%;
  text-align: center;
}
.open {
  position: absolute;
  margin-left: 0.5rem;
  visibility: visible;
  opacity: 1;
}
